main {
  max-width: 1000px;
  margin: 0px auto 20px;
}

.capa {
  position: relative;
}

.foto-capa {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.foto-perfil-container {
  position: absolute;
  bottom: -20px;
  left: 20px;
}

.foto-perfil {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}

#inputFoto {
  display: block;
  margin-top: 8px;
  font-size: 0.8rem;
}

.dados-perfil {
  margin-top: 20px;
  padding: 20px;
}

.botoes1 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

textarea {
  width: 100%;
  min-height: 80px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  color: white;
  font-weight: 800;
  background: #4fcdd1dc;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4fcdd1;
}

.interesses,
.viagens-passadas,
.viagens-futuras,
.avaliacoes {
  padding: 15px 15px 15px 15px;
}

.interesses input,
.viagens input,
.avaliacoes input {
  border: none;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 8px;
  width: 80%;
  margin: 4px 0px 5px;

}

.lista-tags,
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  padding: 0;
}

.lista-tags li {
  background: #e9f3ff;
  padding: 6px 12px;
  border-radius: 20px;
}

.novo-comentario textarea {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .foto-perfil {
    width: 70px;
    height: 70px;
  }

  .botoes {
    flex-direction: column;
  }
}